

div {
    c
    bg
    ta
    m
    mt
    mr
    p
    pb
    pl
    f
    td
    bdw
    bxs
}

div {
    ta:c
    m:a
    mt:10
    pb:5e
    maw:100p
    o:h
    d:b
}

div {
    f+
    bg+
    bd+
    bdb+
    d+
}

div {
    bg+d:ib+m:a+pt:15p
}

div {
    ttu
    tt:u
    tt-u
    tt-up
}

@m